# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.gd21-system-design-game-vision-pitching.iml
# Editor-based HTTP Client requests
/httpRequests/
